// reset
.mr6 {
  margin-right: 6px;
}
.pdl10 {
  padding-left: 10px;
}
a {
  text-decoration: none;
}
.blackTxt {
  color: #000;
}
.whiteTxt {
  color: white;
}
.bold {
  font-weight: 600;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
}

#main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  background: #343a40;
  color: #fff;
}

#page-header {
  height: 200px;
  padding-top: 60px;
  background: url("./img/react.png") no-repeat center center / cover;
  color: #fff;
  border-bottom: 2px solid #bdbdbd;
}

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 42px;
  background-color: #eee;
  .toggleBtn {
    width: 36px;
    height: 36px;
    font-size: 12px;
  }
}
